@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  border-right: 1px solid #222;
  border-left: 1px solid #222;
  max-width: 600px;
  margin: auto;
  background-color: rgb(204, 204, 255);
  font-family: 'poppins';
  color: #444;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', monospace;
}
.navbar .showMenu1 li , .showMenu2 li{
  list-style: none;
}
.navbar .showMenu1 {
  position: fixed; 
  max-width: 600px;
  width: 100%;
  list-style: none;
  background: #333;
  margin-bottom: 10px;
  z-index: 100;
}
.navbar .showMenu2 {
  position: relative; 
  max-width: 600px;
  width: 100%;
  list-style: none;
  background: #333;
  margin-bottom: 10px;
  z-index: -100;
}
.navbar .showMenu1 ul, .showMenu2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.navIcons {
  height: 26px;
  width: 32px;
}

.section1 {
  background-color: white;
  padding:15px;
}
.industryBtn {
  background-color: rgb(255, 24, 24);
  width: 100px;
  padding: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
}
.Headings h1 {
  margin: 10px 0;
}

.Headings p {
  color: #777;
}
.jamieKlein {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 30px;
}

span {
  color: rgb(0, 65, 186);
  opacity: 70%;
  transition: 0.2s ease;
}
span:hover {
  color: red;
  opacity: 70%;
  cursor: pointer;
}
.jamieKleinImg {
  width: 50px;
  border-radius: 50%;
}

.toyotaImages {
  max-width: 100%;
}

.toyotadiv {
  font-size: small;
  margin: 25px 0;
}

.userInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  border: 3px solid #cccccc83;
  color: #777;
  border-radius: 10px;
  padding: 0 40px;
}

.userInfo .favicon {
  width: 90px;
  margin-top: 25px;
}
.userInfo h2{
  font-size: xx-large;
  margin-bottom: 8px;
}
.userInfo h2 a{
  color: #333;
}

.userInfo .lastChild {
  color: #777;
  margin-bottom: 30px;
}

.userInfo .lastChild a{
  color: #777;
  margin-bottom: 35px;
}

.userInfo .subsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.userInfo .subsForm .subsInput {
  border: 3px solid rgb(11, 141, 206);
  border-radius: 10px 0 0 10px;
  background-color: whitesmoke;
  height: 2.5rem;
  width: 15rem;
  padding: 0 15px;
  font-size: large;
}
.userInfo .subsForm .subsInput::placeholder {
  color: #bebebe;
}

.userInfo .subsForm .subsInput:focus {
  box-shadow: 0 0 5px rgb(14, 169, 247);
  outline: none;
}

.userInfo .subsForm .subsBtn {
  border: 1px solid rgb(11, 141, 206);
  border-radius: 0 10px 10px 0;
  background-color: rgb(11, 141, 206);
  height: 2.5rem;
  width: 7rem;
  color: rgb(245, 245, 245);
  font-size: 1rem;
  cursor: pointer;
}

.userInfo .subStack {
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  filter: grayscale(1);
  opacity: 70%;
  transition: 0.1s ease;
}
.userInfo a .subStack:hover {
  filter: none;
  opacity: 90%;
}

